/**
 *
 * @authors Your Name (you@example.org)
 * @date    2015-07-22 15:50:19
 * @version $Id$
 */
@charset "UTF-8";
.inofR {cursor:pointer;font-size:14px;border: 1px solid #cad2e7;position: fixed;top: 10px;right: 5px;width: 300px;background: #ffffff;padding: 10px 15px 0 15px;border-radius:2px;}
.inofT {padding-bottom: 2px;border-bottom: 2px solid #6481c8;margin-bottom: 5px;font-weight: bold;}
.inofbody {font-size: 13px;margin: 10px 0;}
.cityinput {float: left;display: inline-block;margin-top: 16px;margin-right: 20px;}
.cityinput select {height: 28px;border: 1px solid #cad2e7;border-radius: 2px;background: #fff;}
.sn-box button {margin: 17px 0 0 0px !important;}
.sn-box .sn-textarea {margin-right: 5px !important;}
.mapcustom{width:100%;height:100%;}
.inofhide {display:none;cursor:pointer;font-size: 13px;border: 1px solid #cad2e7;position: fixed;top: 10px;right: 5px;width: 22px;background: rgb(192, 200, 219);padding: 5px 0 0 0;border-radius: 2px;text-align: center;color: #4f5976;}
.inofhide span {margin-top: -2px;line-height: normal;padding: 0;font-size: 16px;position: relative;top: -3px;}
.inofT img {width: 18px;position: absolute;right: 15px;top: 10px;}
.selectcity {cursor:pointer;float: left;height: 26px;border: 1px solid #cad2e7;border-radius: 2px;background: #fff;line-height: 26px;padding: 0 15px;margin-top: 16px;margin-right: 10px;}
.arrow {margin-left: 2px;width: 16px;height: 16px;background: url(../images/arrowbot.png) center center no-repeat;display: inline-block;vertical-align: sub;}
.cityprovince,.citylist,.townlist {left: 60px;position: absolute;top: 44px;width: 126px;border: 1px solid #cad2e7;background: #fff;z-index: 99999;padding-top:5px;padding-bottom:5px;display:none;}
.citylistbody {position: relative;float: left;}
.cityprovince li,.citylist li,.townlist li{cursor:pointer;line-height: 1.5em;padding-left: 15px;padding-right: 15px;margin-top:5px;margin-bottom:5px;}
.citylist {position: absolute;left: 181px;width:162px;}
.townlist {position: absolute;left: 344px;min-width:120px;}
.onshow{display:block;}
.cityprovinceP {position: absolute;left: 192px;}
.citylistP{position:absolute;left:313px;}
.On >div{display:none;}
.addressshow {height: 400px;position: absolute;width: 250px;top: 45px;left: 0px;border: 1px solid #cad2e7;z-index: 999999;background: #ffffff;overflow-y: auto;overflow-x:hidden;display:none;padding:5px 0;}
div#app {position: absolute;z-index: 99999999;min-width:250px;top: 0px;left:0px;}
.el-icon-caret-right:before{background: url(../images/triangular.png) center center no-repeat;color:transparent;}
.el-tree-node__expand-icon.is-leaf:before {background: none;}
.citylistbody2,.citylistbody2{margin-left:5px;}