{% load static %}
<!DOCTYPE html>
<html style="height: 100%">
 <head>
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-icons.css' %}">
 
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}">

    <script type="text/javascript" src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/echarts.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/common.js' %}"></script>
    
    {% block extra_css %}{% endblock %}

    {% block extra_script %}{% endblock %}

    <title>{% block title %}我的网站{% endblock %}</title>
 </head>
 <body>
    <!--顶部-->
    <div class="header clear">
        <div class="user_box clear">
            <div class="user_img">
               <!--  <img src="user.png" alt=""> -->
            </div>
            <div class="user_name">
                <!-- <span>${session.admin.name}</span> -->
                <!-- <a id="user_name" href="javascript:void(0)">退出</a> -->
            </div>
        </div>
    </div>

     <!-- 主要内容 -->
    <div class="main-content">
        {% block content %}
        <!-- 子模板将覆盖此部分 -->
        {% endblock %}
    </div>

    <!-- 页脚 -->
    <!--<footer>
        <div>
            <p>&copy; 2025 保留所有权利.</p>
        </div>
    </footer>-->
 </body>
</html>